#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.App form {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.decks {
  display: grid;
  width: 600px;
  margin: 0 auto;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  color: black;
}

.decks li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: white;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 13px;
}

.decks li button {
  position: absolute;
  font-size: 8px;
  top: 5px;
  right: 5px;
}

.decks li:hover {
  background: #eee;
}

